.text-header{
    font-family: 'Roboto Mono', serif !important;
    font-weight: bold;
    font-size: 28px;
    text-align: center;
    margin-bottom: 5%;
    margin-top: 5%;
    }
.text-header2{
    font-family: 'Roboto Mono', serif !important;
    font-weight: bold;
    font-size: 25px;
    text-align: center;
    margin-bottom: 5%;
    margin-top: 5%;
    }
ion-content.background{
    background-image: url("./assets/background.png");
    --background:none;
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
}
.text1{
    font-family: 'Roboto Mono', serif !important;
    font-weight: bold;
    font-size: 17px;
}
